@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";


@theme {
    --font-Eagle: "Eagle Lake", serif;
    --font-Roboto: "Roboto Slab", serif;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}